.item {
    padding: 20px 0px;
    width: 280px;
    border-radius: 4px;
    color: black;
    position: relative;
    min-height: 350px;
    .overplay {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        &:hover {
            .add {
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }
        .add {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            color: white;
            padding: 5px 10px;
            border: 1px solid #e8e6ea;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 11px;
            font-size: 15px;
        }
    }
    .overplays {
        position: absolute;
        bottom: 90px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        &:hover {
            .adds {
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }
        .adds {
            position: relative;
            left: 50%;
            top: 50%;
            font-size: 15px;
            border-radius: 11px;
            transform: translateX(-50%);
            border: 1px solid #e8e6ea;
            background-color: rgba(255, 255, 255, 0.2);
            color: white;
            padding: 5px 10px;
        }
    }
    &:hover {
        .costProduct {
            position: relative;
            top: -20px;
            z-index: -1;
        }
        .overplay {
            top: 20px;
            height: 34.1%;
            opacity: 0.9;
        }
        .overplays {
            bottom: 90px;
            height: 34.5%;
            opacity: 0.9;
        }
    }
    .imgProduct {
        height: 240px;
        border-radius: 4px;
        width: 100%;
        background-color: #f6f6f6;
    }
    .name-cost {
        position: relative;
        .costProduct {
            position: absolute;
            color: black;
            font-size: 15px;
            padding: 2px 4px;
            background-color: #ffe58f;
            border-radius: 10px;
            margin: 10px 10px 10px 0px;
            width: 20%;
            height: 70%;
            flex: 0.2;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -50px;
            right: -8px;
        }
        .name {
            max-height: 50px;
            width: 100%;
            word-wrap: break-word;
            display: flex;
            justify-content: space-between;
            padding: 2px 8px;
            margin: 10px 0px;
            text-align: right;
            cursor: pointer;
            a {
                color: black;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .type {
                font-weight: 400;
                color: gray;
            }
        }
    }
}